* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    margin:0;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #000;
}
#id{
    width:100vw;
    height:100vh;
}
a{
    text-decoration: none;
}
.background {
    background:
    linear-gradient(to bottom,
       rgba(0, 0, 0, 0.74) 10px, 
       rgba(0, 0, 0, 0.353), 
       20%,
       rgba(0, 0, 0, 0) , 
       50%,
       rgba(0, 0, 0, 0.17), 
       rgba(0, 0, 0, 0.511) 80%,
       rgba(0, 0, 0, 0.81) 90%), #4e5675;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.pixarBg{
    background:
    linear-gradient(to bottom,
       rgba(0, 0, 0, 0.74) 10px, 
       rgba(0, 0, 0, 0.353), 
       20%,
       rgba(0, 0, 0, 0) , 
       50%,
       rgba(0, 0, 0, 0.17), 
       rgba(0, 0, 0, 0.511) 80%,
       rgba(0, 0, 0, 0.81) 90%  ),
    url("/images/pixar-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.disneyBg{
    background:
    linear-gradient(to bottom,
       rgba(0, 0, 0, 0.74) 10px, 
       rgba(0, 0, 0, 0.353), 
       20%,
       rgba(0, 0, 0, 0) , 
       50%,
       rgba(0, 0, 0, 0.17), 
       rgba(0, 0, 0, 0.511) 80%,
       rgba(0, 0, 0, 0.81) 90%  ),
    url("/images/disney-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* ----------  HEADER LAYOUT ---------- */

header {
    z-index: 10;
    position: fixed;
    width:100%;
    top:0;
    color:#fff;
    padding:0.8em 0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}
.headerBg{
    background-color: #000;
    transition: background 0.6s;
}
.headerBgGradient{
    background-color: transparent;
    transition: background 0.3s;
}
header a{
    color: #fff;
}
header img {
    width: 80px;
    margin:0 3.5em 0 2em;
}
.headerMenu {
    display:flex;
    margin:0 auto 0 0;
    list-style: none;
    padding:0;
}
.headerMenu li, .loginBtn {
    padding: 0 3em 0 0;
    font-size:1.3rem;
    letter-spacing: 1.42px;
    line-height: 1.07;
    font-weight: 700;
}
.menuItemTxt {
    margin-top: 6px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.menuItemTxt::after {
    margin-top: 6px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0);
    transition: width .2s, background .2s;
}
.menuItemTxt:hover::after {
    width: 100%;
    background: #fff;
}
.menuIcon{
    margin-right: 0.5em;
}
.loginBtn{
    padding:1em;
    margin:0 2em 0 auto;
    background-color: #fff;
    border-radius: 50%;
}
.loginIcon{
    color:#000;
}

/* ----------  HAMBURGER MENU ---------- */

.hamburgerBtn{
    display:none;
    margin:0 2rem 0 auto;
    cursor: pointer;
}
.hamburgerBar{
    width: 35px;
    height:5px;
    background-color:rgb(251, 251, 251);
    margin:6px 0;
    border-radius: 3px;
}

/* ----------  MAIN LAYOUT ---------- */

main{
    min-height:150vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.overlayDarkest{
    background-color: rgba(0, 0, 0, 0.693);
    transition: background 1s;
}
.overlayDarker{
    background-color: rgba(0, 0, 0, 0.419);
    transition: background 1s;
}
.overlayMedium{
    background-color: rgba(0, 0, 0, 0.196);
    transition: background 1s;
}
.overlayLight{
    background-color: transparent;
    transition: background 1s;
}

/* ----------  HOME LAYOUT ---------- */

/* ---------- HERO ---------- */
/* .container {
    width: 90%;
    padding-bottom: 100px;
    position: relative;
} */
.heroEmpty {
    height:550px;
}
.carousel {
    width: 100%;
    position: relative;
}
.heroImg {
    border-radius: 2px;
    margin-top: 100px;
    width:100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline:5px solid #dfdfdf00;
}
.heroImg:hover {
    outline:5px solid #dfdfdfde;
    transition: outline 0.2s ease-out;
}
.carousel-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 32%;
}
.carousel-actions button {
    margin:0.1em;
    cursor: pointer;
    border:none;
    color:#fff;
    font-size:4rem;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 5px black;
}
.carousel-actions button:hover {
    transform: scale(1.1);
}
/* ---------- CHANNEL MENU ---------- */

.channelMenu {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.channelBtn img {
    width:200px;
    margin:0px;
    object-fit: cover;
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    border-radius:10px;
    outline:3px solid #42444f;
}
.channelBtn img:hover {
    outline:3px solid #ffffff;
    transform: scale(1.05);
    transition: transform 0.2s ease-out, outline 0.2s ease-out;
}

/* ---------- FILMS LIST ---------- */

.container {
    width: 90%;
    padding-bottom: 100px;
    position: relative;
}
.filmsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.filmBox {
    width: 277px;
    height:400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    overflow: hidden;
    outline: solid 5px rgba(255, 255, 255, 0);
    transition: transform 0.3s ease-out, outline 0.3s ease-out;
}
.filmBox:hover{
    outline: solid 5px #fff;
    transform: scale(1.05);
    transition: transform 0.3s ease-out, outline 0.3s ease-out;
}
.filmBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ---------- DETAIL PAGE ---------- */

.detailContainer{
    margin-top:100px;
}


@media (max-width:600px) {
    .pixarBg{
        background:
        linear-gradient(to bottom,
           rgba(0, 0, 0, 0.74) 10px, 
           rgba(0, 0, 0, 0.353), 
           10%,
           rgba(0, 0, 0, 0) , 
           25%,
           rgba(0, 0, 0, 0.511) 30%,
           rgb(0, 0, 0) 40%  ),
        url("/images/pixar-background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .background, .disneyBg, .pixarBg {
        background-size: contain;
        background-size: 140%;
        background-position: 50% 0%;
    }
    main{
        min-height:100vh;
    }
    .loginBtn  {
        display:none;
    }
    .headerMenu{
        display: none;
    }
    .hamburgerBtn{
        display:block;
    }
    .topBar {
        transform:translateY(5px) rotate(45deg) ;
        transition: transform 250ms;
    }
    .middleBar {
        display: none;    
    }
    .bottomBar {
        transform:translateY(-5px) rotate(-45deg) ;
        transition: transform 250ms;
    }
    .moveDown{
        transform:translateY(120px);
        transition: transform 150ms;
    }
    .heroEmpty {
        height:250px;
    }
    .carousel-actions{
        top: 17.5%;
    }
    .carousel-actions button {
        font-size:2rem;
    }
    .channelMenu {
        align-items: center;
        flex-wrap: wrap;
        gap:25px;
    }
    .channelBtn img {
        width:160px;
    }
    .filmsContainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .filmBox {
        width: 150px;
        height:auto;
    }
}