* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    margin:0;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #000;
}
#id{
    width:100vw;
    height:100vh;
}
a{
    text-decoration: none;
    color: #c5c5c5;
}
h1{
    font-size: 4.5rem;
    letter-spacing: .11px;
    color: #e0e0e0;
    margin: 1em 0;
    text-align: left;
}

.generalBgSettings {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #4e5675;
}

/* ----------  HEADER LAYOUT ---------- */

header {
    z-index: 500;
    position: fixed;
    width:100%;
    top:0;
    color:#fff;
    padding:0.8em 0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}
.headerBg{
    background-color: #000;
    transition: background 0.6s;
}
.headerBgGradient{
    background-color: transparent;
    transition: background 0.3s;
}
header a{
    color: #fff;
}
header img {
    width: 80px;
    margin:0 3.5em 0 2em;
}
.headerMenu {
    display:flex;
}
.menuItemTxt {
    text-transform: uppercase;
    padding: 0 3em 0 0;
    font-size:1.3rem;
    letter-spacing: 1.42px;
    line-height: 1.07;
    font-weight: 700;
    margin-top: 6px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.menuItemTxt::after {
    margin-top: 6px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0);
    transition: width .2s, background .2s;
}
.menuItemTxt:hover::after {
    width: 100%;
    background: #fff;
}
.menuIcon{
    margin-right: 0.5em;
}

.mobileMenu{
    display:none;
}

/* ----------  HAMBURGER MENU ---------- */

.hamburgerBtn{
    display:none;
    margin:0 2rem 0 auto;
    cursor: pointer;
}
.hamburgerBar{
    width: 35px;
    height:5px;
    background-color:rgb(251, 251, 251);
    margin:6px 0;
    border-radius: 3px;
}

/* ----------  MAIN LAYOUT ---------- */

main{
    min-height:100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.overlayDarkest{
    background-color: rgba(0, 0, 0, 0.804);
    transition: background 1s;
}
.overlayDarker{
    background-color: rgba(0, 0, 0, 0.574);
    transition: background 1s;
}
.overlayMedium{
    background-color: rgba(0, 0, 0, 0.196);
    transition: background 1s;
}
.overlayLight{
    background-color: transparent;
    transition: background 1s;
}

/* ----------  HOME LAYOUT ---------- */

/* ---------- HERO ---------- */

.noHero {
    padding-top: 50px;
}
.heroEmpty {
    height:550px;
}

.heroImg {
    border-radius: 2px;
    margin-top: 100px;
    width:100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline:5px solid #dfdfdf00;
}
.heroImg:hover {
    outline:5px solid #dfdfdfde;
    transition: outline 0.2s ease-out;
}
.carousel {
    border-radius: 2px;
    margin-top:100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width:90%;
    outline:5px solid #dfdfdf00;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.carousel:hover {
    outline:5px solid #dfdfdfde;
    transition: outline 0.2s ease-out;
}
.carousel-item{
    display: inline-block;
    width: 100%;
}
.carousel-item img{
    width: 100%;
    object-fit: cover;
}
.carousel-inner{
    width: 100%;
    white-space: nowrap;
    transition: ease 1s;
}
.carousel-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}
.carousel-actions button {
    margin:0.5em;
    cursor: pointer;
    border:none;
    color:#fff;
    font-size:4rem;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 5px black;
}
.carousel-actions button:hover {
    transform: scale(1.1);
}
/* ---------- CHANNEL MENU ---------- */

.channelMenu {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    row-gap: 30px;
}
.btnWrapper{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    width: 14vw;
    aspect-ratio: 1.8;
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50)); 
    border-radius: 6px;
    cursor: pointer;
    border-radius:10px;
    outline:3px solid #42444f;
    overflow: hidden;
}
.btnWrapper:hover {
    outline:3px solid #ffffff;
    transform: scale(1.05);
    transition: transform 0.2s ease-out, outline 0.2s ease-out;
}
.channelBtn {
    position: absolute;
}
.channelBtn img {
    position: absolute;
    width:100%;
}
.channelBtn video {
    visibility: hidden;
    position: relative;
    width:100%;
    z-index: -100;
}
.channelBtn:hover video {
    visibility: visible;
}
.disabled-link {
    pointer-events: none;
  }

/* ---------- FILMS LIST ---------- */

.container {
    width: 90%;
    padding-bottom: 100px;
    position: relative;
}
.filmsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}
.filmBox {
    width: 277px;
    height:400px;
    box-shadow: rgba(0, 0, 0, 0.785) 10px 10px 70px 4px;
    border-radius: 5px;
    overflow: hidden;
    outline: solid 1px rgb(255, 255, 255);
    transition: transform 0.3s ease-out, outline 0.3s ease-out;
}
.filmBox:hover{
    outline: solid 5px #fff;
    transform: scale(1.05);
    transition: transform 0.3s ease-out, outline 0.3s ease-out;
}
.filmBox img, .detailBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* ---------- AUTHENTICATION / POP UP ---------- */

.login {
    color:rgb(255, 255, 255);
    background: none;
    margin: 0 3em 0 auto;
    font-size: 1.3rem;
    letter-spacing: 1.42px;
    line-height: 1.07;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 6px;
}
.login::after {
    margin-top: 6px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0);
    transition: width .2s, background .2s;
}
.login:hover::after {
    width: 100%;
    background: #fff;
}

.loginPopup {
    margin:1em 0;
    background-color: #f0f0f0;
    color:rgb(255, 255, 255);
    font-size: 1.3rem;
    letter-spacing: 1.22px;
    line-height: 1.07;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

#overlay {
    position:relative;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.764);
    z-index:1000;
    display:flex;
    justify-content: center;
    align-items: center;
}
.popup {
    z-index:2000;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 500px;
    height: fit-content;
    padding:2em 0;
    border-radius:10px;
    border: #fff 8px solid;
    box-shadow: 4px 4px 10px black;
    background-color: #fff;
}
.popup button {
    color: #000;
    padding: 1em 2em;
    width:100%;
    display: inline-block;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.popup button:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: box-shadow 0.2s ease-out;
}
.popup button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: box-shadow 0.2s ease-out;
}
.popupMsg {
    padding: 2em 0;
    height:fit-content;
}
.flexWrapper{
    display: flex;
    flex-direction: column;
    width:100%;
}
.popupInput {
    background-color: #f9f9f9;
    margin:1em 0;
}
/* ---------- DETAIL PAGE ---------- */

.detailBox {
    width: 277px;
    height:400px;
    box-shadow: rgba(0, 0, 0, 0.785) 10px 10px 70px 4px;
    border-radius: 5px;
    overflow: hidden;
    }
.detailContainer{
    width: 90vw;
    min-height:90vh;
    position: relative;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap:50px;
    color:#fff;
}
.detailContainer h1 {
    margin-top:0;
}
.detailTxt{
    width: 50vw;
}
.trailerBtn {
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-size:1.5rem;
    letter-spacing: 1.42px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border: #fff 1.8px solid;
    border-radius: 5px;
}
.favoBtn {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.5em 0.7em;
    font-size:1.7rem;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    margin-left: 1.5em;
    border: #fff 1.8px solid;
    border-radius: 100%;
}
.favoBtnDisabled {
    pointer-events: none;
    cursor: default;
    background-color: rgb(121, 121, 121);
    border-color: rgb(180, 180, 180);
    color: rgb(180, 180, 180);
}
.trailerBtn:hover, .favoBtn:hover {
    background-color: #fff;
    color:#000;
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.detailHeader{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.detailHeader h1 {
    margin: 0;
    width:100%;
}
.detailBtns{
    height:80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* ---------- ADMIN PAGE ---------- */


.adminForm {
    width:50vw;
    display: flex;
    flex-direction: column;
}
input, select, .formBtn {
    padding:1em 2em;
    border:none;
    margin: .5em 0;
}
input:focus, select:focus{
    background-color: #d8f7ff;
}
.formBtn {
    cursor: pointer;
}
.formBtn:hover{
    background-color: #b7b7b7;
}
input[type="file"] {
    padding:1em 2em;
    background-color: #efefef30;
}
.custom-upload-btn, .formBtn {
    text-align: center;
    font-size: 1.3rem;
    margin: .5em 0;
    padding:1em 2em;
    cursor: pointer;
    background-color: #b7b7b7;
}
.custom-upload-btn:hover, .formBtn:hover{
    background-color: #5dc0d9;
}
.delete{
    position: absolute;
    cursor: pointer;
    bottom:25px;
    text-transform: uppercase;
    padding: 0.5em 0.7em;
    font-size:1.7rem;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    margin-left: 1.5em;
    margin-bottom: 50px;
    border: #fff 1.8px solid;
    border-radius: 100%;
}
.delete:hover {
    background-color: rgb(179, 19, 19);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

.adminBox {
    border-bottom: #42444f solid 1px;
}

/* ---------- SEARCH PAGE ---------- */

.searchBar {
    margin-top:50px;
    width: 100vw;
    height:150px;
    font-size: 44px;
    letter-spacing: .11px;
    font-weight: 700;
    line-height: 1.2;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    outline: none;
    border: none;
    background: rgb(75, 78, 90);
    color: rgb(168, 169, 173);
    height: 60px;
    padding-left: calc(3.5vw + 24px);
}
.searchBar:focus{
    background: rgb(255, 255, 255);
    color: rgb(78, 79, 81);
}
@media (max-width:1000px) {
    .btnWrapper {
        width: 27vw;
    }
}
@media (max-width:800px) {
    .detailHeader h1 {
        font-size: 3rem;
    }
}
@media (max-width:700px) {
    form{
        width:90vw;
    }
    .popup {
        width: 90%;
    }
    .popupMsg {
        height:fit-content;
    }
    .generalBgSettings {
        background-size: contain;
        background-size: 140%;
        background-position: 50% 0%;
        background-color: #000;
    }
    main{
        min-height:100vh;
    }
    .headerMenu{
        display:none;
    }
    .mobileMenu{
        position:absolute;
        padding: 1em 0;
        z-index: -1000;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#fff;
        background-color: rgb(0, 0, 0);
        box-shadow:nhsla(0, 0%, 86%, 0.267);
        transform:translateY(-137px);
        transition: transform 0.8s;
        visibility:none;
    }
    .mobileMenu.moveDown{
        visibility: visible;
        border-bottom: solid 1px grey;  
        box-shadow: rgba(220, 220, 220, 0.267) 0px -40px 80px -10px inset, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform:translateY(120px);
        transition: transform 0.8s, box-shadow 0.8s;
    }
    .headerMenu{
        z-index: 100;
    }
    .headerBg{
        background-color: #000;
        transition: background 1s;
    }
    .headerBg.headerBgGradient{
        background-color: transparent;
        transition: background 0.2s;
    }
    .hamburgerBtn{
        display:block;
    }
    .topBar {
        transform:translateY(5px) rotate(45deg) ;
        transition: transform 250ms;
    }
    .middleBar {
        display: none;    
    }
    .bottomBar {
        transform:translateY(-5px) rotate(-45deg) ;
        transition: transform 250ms;
    }
    .heroEmpty {
        height:250px;
    }
    .carousel-actions button {
        display:none;
    }
    .channelMenu {
        align-items: center;
        flex-wrap: wrap;
        gap:25px;
    }
    .channelBtn video {
        z-index: 100;
        visibility: visible;
    }
    .channelBtn img {
        z-index: 110;
    }
    .btnWrapper{
        width:160px;
        height:90px;
        background-image: none; 
    }
    .filmsContainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .filmBox {
        width: 150px;
        height:auto;
    }
    .popup button{
        width:100%;
        margin:1em 0;
        padding-top:1em;
    }
    .carousel {
        height:110px;
        width:90%;
    } 
    .carousel-item{
        display: inline-block;
        width: 100%;
    }
    .carousel-item img{
        width: 100%;
        object-fit: cover;
    }
    .login {
        margin:0;
        margin-top:0.5em;
        font-size:1.2rem;
    }
    .menuItemTxt {
        padding:0;
    }
    .detailContainer{
        flex-direction: column;
        height:auto;
        margin:100px 0;
    }
    .detailTxt{
        width: 90vw;
        flex-direction: column;
    }
    .detailPoster, .detailPoster img{
        width:100%;
        order:10;
    }
    .trailerBtn {
        margin-left: 0;
    }
}
@media (max-width:700px) {
    .btnWrapper{
        width: 40vw;
        height:21vw;
    }

}